<li class="desktop-search d-inline-block">
	
<div class="d-search">
	<button id="search_toggle" class="search-toggle" data-toggle="collapse" onclick="openSearch()">
           <svg width="22px" height="22px">
                    <use xlink:href="#hsearch" />
           </svg>
	</button>
</div>
<div id="search" class="wbSearch">
<div id="search_block_top" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search_query form-control input-lg" />
  <div class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search  hidden-sm hidden-md hidden-lg"></i><span class="hidden-xs">{{ text_search }}</span></button>
  <a href="javascript:void(0)" class="closebtn close-nav" onclick="closeSearch()"><i class="fa fa-close"></i></a>
</div>
</div>
</div>
</li>