<div>{% if heading_title %}
  <h2>{{ heading_title }}</h2>
  {% endif %}
  {{ html }}</div>




<script type="text/javascript">
$(document).ready(function() {
    $("#lookbook").owlCarousel({
    itemsCustom : [
    [0, 1]
    ],
      autoPlay: 7000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : false,
      pagination:false
    });
    });

  </script>


<script type="text/javascript">
    $(document).ready(function() {
    $("#owl-testimonial").owlCarousel({
    itemsCustom : [
    [0, 1]
    ],
      autoPlay: 7000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : false,
      pagination:false
    });
    });

  </script>